* {
  margin: 0;
}

html,
body {
  height: 100%;
}

div {
  width: 100px;
  height: 100px;
  background-color: #221096;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: #fff
}

section {
  height: 100%;
  display: grid;
  gap: 3px;
  /* row-gap: 30px;
  column-gap: 1px; */
  /* grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  justify-content: space-evenly;
  align-content: space-evenly; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.five {
  background-color: #c23131;
  align-self: end;
  justify-self: end;
}
